.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 890px;
  list-style: none;
  padding: 0 15px;
  margin: 0 auto;
  transform: translateY(-200px);
  animation: nav-show 2s ease 1.5s forwards;

  @include position(fixed, 0 0 null 0);
  z-index: 2;

  a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
    width: 60px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    transition: opacity .3s ease;

    &:hover, &:focus, &.active {
      opacity: .6;
    }

    @include p_el(before, 1px, 40px) {
      @include position(absolute, 0 0 null 0);
      margin: auto;
      background-color: #fff;
    }
  }

  &--dc_logo {
    @media (max-width: 767px) {
      display: none;
    }

    a {
      margin-top: 38px;
      @include size(117px, 60px);
      text-indent: 117px;
      padding: 0;
      background: url(/src/img/joker-logo.png) center center no-repeat;
      background-size: contain;
      overflow: hidden;
      &.navigation--dc_logo-link {
        display: none;
        background: url(/src/img/dc-logo.svg) center center no-repeat;
        background-size: contain;
      }
      &:before {
        display: none;
      }
    }

    &.navigation--dc_logo-home {
      a {
        &.navigation--dc_logo-link {
          display: block;
        }
        &.navigation--joker_logo-link {
          display: none;
        }
      }
    }
  }
}

@keyframes nav-show {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}